<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="12">
            <el-table
                    :data="list"
            >
                <el-table-column
                        prop="id"
                        label="ID">
                </el-table-column>

                <el-table-column
                        prop="columnType"
                        label="列类型">
                </el-table-column>

                <el-table-column
                        prop="attrType"
                        label="属性类型">
                </el-table-column>

                <el-table-column
                        prop="packageName"
                        label="包名">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="创建时间">
                </el-table-column>
            </el-table>
        </el-col>

        <el-col :span="12">
            <el-form ref="form" v-model="form" label-width="80px" :inline="true">
                <el-form-item label="活动名称">
                    <el-input v-model="form.name">

                    </el-input>
                </el-form-item>


                <el-form-item
                        label="列类型">
                    <el-input v-model="form.columnType">
                    </el-input>
                </el-form-item>

                <el-form-item
                        label="属性类型">
                    <el-input v-model="form.attrType">
                    </el-input>
                </el-form-item>

                <el-form-item
                        label="包名">
                    <el-input v-model="form.packageName">
                    </el-input>
                </el-form-item>
            </el-form>
            <el-button type="primary" @click="submit">
                提交
            </el-button>
            <el-button type="primary" @click="handleEdit">
                修改
            </el-button>
        </el-col>
    </el-row>


</div>
</body>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                list: [],
                form: {},
            }
        },
        mounted() {
            // axios({
            //     method: 'get',
            //     url: '/gen/list',
            // }).then((r) => {
            //     // this.list = r.data.data
            //     console.log(r.data)
            // });
            this.init()

        },
        methods: {
            init(){
                axios({
                    method: 'get',
                    url: '/gen/page',
                }).then((r) => {
                    this.list = r.data
                    console.log(r.data)
                });
            },
            //提交表单
            submit() {
                axios({
                    method: 'post',
                    url: '/gen/add',
                    data: this.form
                }).then((r) => {
                    console.log(r.data)
                    this.init()
                });
            },
            handleEdit(){
                this.form.id = 31
                axios({
                    method: 'post',
                    url: '/gen/add',
                    data: this.form
                }).then((r) => {
                    console.log(r.data)
                    this.init()
                });
            },
        }
    })
</script>
</html>